{% extends "./_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <form class="form-horizontal">
    <label for="inputEmail" class="col-md-2 control-label">Email</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="email" placeholder="Email" value="{{ renderObject.email }}">
    </div>
    <label for="first_name" class="col-md-2 control-label">First Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="firstName" value="{{ renderObject.first_name }}">
    </div>
    <label for="last_name" class="col-md-2 control-label">Last Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="lastName" value="{{ renderObject.last_name }}">
    </div>
    <label for="address_line_1" class="col-md-2 control-label">Street Address 1</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="line_1" value="{{ renderObject.address_line_1 }}">
    </div>
    <label for="address_line_2" class="col-md-2 control-label">Street Address 2</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="line 2" value="{{ renderObject.address_line_2 }}">
    </div>
    <label for="address_line_1" class="col-md-2 control-label">City</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="city" value="{{ renderObject.city }}">
    </div>
    <label for="address_line_1" class="col-md-2 control-label">State</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="state" value="{{ renderObject.state}}">
    </div>
    <label for="address_line_1" class="col-md-2 control-label">Zip</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="zip" value="{{ renderObject.zip }}">
    </div>
    <label for="comments" class="col-md-2 control-label">What should we know about you?</label>
    <div class="col-md-10">
      <input type="textarea" class="form-control" id="comments" value="{{ renderObject.comments}}">
    </div>
    <br>
    <input type="button"  id="saveUserButton" method="post" activity="/users/edit_user" value="Save">
    <input type="button" value="Cancel" method="get" activity="/">
  </form>
</div>

{% endblock %}
