{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <section class="col-md-6">
      <label id="userLabel" for="inputEmail">Email</label>
        <p class="" id="email" placeholder="Email">{{ renderObject.email }}</p>
      <label id="userLabel" for="first_name">First Name</label>
        <p class="" id="firstName">{{ renderObject.first_name }}</p>
      <label id="userLabel" for="last_name">Last Name</label>
        <p class="" id="lastName">{{ renderObject.last_name }} </p>
      <label id="userLabel" for="comments">What should we know about you?</label>
        <p id="" id="comments">{{ renderObject.comments}}</p>
    </section>
    <section class="col-md-6">
      <label id="userLabel" for="address_line_1">Street Address 1</label>
        <p id="" id="line_1">{{ renderObject.address_line_1 }}</p>
      <label id="userLabel" for="address_line_2">Street Address 2</label>
        <p id="" id="line 2">{{ renderObject.address_line_2 }}</p>
      <label id="userLabel" for="city">City</label>
        <p class="" id="city">{{ renderObject.city }}</p>
      <label id="userLabel" for="state">State</label>
        <p class="" id="state">{{ renderObject.state}}</p>
      <label id="userLabel" for="zip">Zip</label>
        <p class="" id="zip">{{ renderObject.zip }}</p>
    </section>
  </div>
</div>

<script type="text/javascript" src="/js/edit_user.js"></script>
{% endblock %}
